<div class='post-details-body'>
  <div class='post-details-p-card'>
    <div class='post-details-top'>
      <h3>
        <%= @post.title %> by <%= @post.user.name %>
      </h3>

      <div class='post-com-lik-counters'>
        <p>
          Comments: <%= @post.comments_counter%>
        </p>
        <p>
          Likes: <%= @post.likes_counter%>
        </p>
      </div>
    </div>

    <%= form_with url: "/posts/#{@post.id}/likes", scope: :like do |form| %>
      <%= form.submit "Like this post", class: "post-like-btn"%>
    <% end %>

    <p class='post-details-text'>
      <%= @post.text %>
    </p>
  </div>

  <div class='post-details-p-comments'>
    <% @comments.each do |comment| %>
      <p>
        <%= comment.user.name%>: <%= comment.text%>
      </p>
      <% if can? :destroy, comment %>
        <%= button_to "Delete Comment", "/post/:post_id/comments/#{params[:id]}", method: :delete, params:
          { comment_id: comment.id }, class: 'del' %>
      <% end %>
    <% end %>
  </div>

  <div class = 'comment-creator'>
    <%= render 'posts/create_comments' %>
  </div>

</div>